<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>生徒募集連絡の内容をここに表示</h1>
  <p>I can't remember all of the notices because of their number which is like an exaggeration.</p>
</body>
</html>